site_name: Liger-Kernel Docs
site_url: https://linkedin.github.io/Liger-Kernel/
site_author: LinkedIn
site_description: Efficient Triton Kernels for LLM Training

theme:
  name: material
  font:
    text: Merriweather Sans
    code: Red Hat Mono
  features:
    - navigation.footer
    - toc.follow
    - navigation.top
    - navigation.sections
  palette:
    # Dark Mode
    - scheme: slate
      toggle:
        icon: material/weather-sunny
        name: Dark mode
      primary: green
      accent: deep purple

    # Light Mode
    - scheme: default
      toggle:
        icon: material/weather-night
        name: Light mode
      primary: blue
      accent: deep purple

nav:
  - Home: index.md
  - Examples: Examples.md
  - Getting Started: Getting-Started.md
  - High Level APIs: High-Level-APIs.md
  - Low Level APIs: Low-Level-APIs.md
  - Contributing: contributing.md
  - Acknowledgment: acknowledgement.md
  - License: license.md

markdown_extensions:
  - attr_list
  - toc:
      permalink: true
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
  - admonition
  - pymdownx.details

plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          paths: [src] 
          options:
            show_root_heading: true
            show_source: true
            docstring_style: google  
            docstring_section_style: table
            heading_level: 3  
            show_signature_annotations: false  # Hides type annotations to save space
            separate_signature: true  # Separates signature from description


# Repository
repo_name: linkedin/Liger-Kernel
repo_url: https://github.com/linkedin/Liger-Kernel
edit_uri: edit/main/docs/

extra:
  social:
    - icon: simple/github
      link: https://github.com/linkedin/Liger-Kernel
